/* navbar*/
.navbar {
    background-color: #d71920;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 98.61%;
    margin-bottom: 10%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Global Styles */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;


}

/* Container */
.signup-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 5%;
    position: relative;
    margin-left: 37%;
}

/* Heading */
.signup-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Form */
.signup-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="tel"],
.signup-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.signup-form input[type="file"] {
    padding: 5px;
}

.signup-form input:focus {
    border-color: red;
    outline: none;
}

/* Button */
.signup-btn {
    width: 100%;
    padding: 12px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: red;
}

/* Login Link */
.login-link {
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}

.login-link a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}